<div id="page" class="row">
  
  <div class="span12 details">

    
    <ul>
    {% for link in linklists.gallery-sub-navigation.links %}
      <li><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
    </ul>
    
    
    <h1 class="p25">{{ page.title }}</h1>
    
    
    <div id="galleria"></div>
    
    
    {% capture snippet_name %}{{ page.title | handle }}{% endcapture %}
    {% assign flickr_script = snippet_name | prepend: "flickr_" %}
    {% include {{flickr_script}} %}
    
    {{ page.content }}
    
    
    
    
  </div>
  
</div>